<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>无标题</title>
</head>
<body>
{$msg}<br />
正在跳转，<span id="time" value="">{$time}</span>秒后跳转到......
<span id="url" style="display:none;">{$url}</span>
	<script type="text/javascript">
		var oTime=document.getElementById("time");
		var oUrl=document.getElementById("url");
		oTime.value=oTime.innerText*1000;
		var timer=setInterval(function(){
			oTime.innerText=oTime.innerText-1;
		},1000);
		setTimeout(function(){
			clearInterval(timer);
			window.location.href=oUrl.innerText;
		},oTime.value);
	</script>
</body>
</html>